# ausgeschlossene Dateien
# ausgeschlossene Verzeichnisse (mit / beenden)
build/
# Dateien, die durch ein Muster (*, &) identifiziert werden
*.class
*.tar.bz2
# Dateien, die entgegen dem Muster eingeschlossen werden
# (durch ! gekennzeichnet)
